* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
.container {
  width: 75%;
  margin: 0 auto;
}
table {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td,
th {
  padding: 0;
}
.header-search__wrap::-webkit-scrollbar {
  width: 10px;
}
.header-search__wrap::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 20%, 0.8);
  border-radius: 10px;
}
.header-search__wrap::-webkit-scrollbar-track {
  background-color: hsla(0, 0%, 20%, 0.3);
}
.header {
  border-bottom: 1px solid hsla(0, 0%, 20%, 0.2);
  &-topbar {
    padding: 14px 0;
    text-align: center;
    background-color: $top-bar-bg;
    color: $top-bar-color;
    font-size: 13px;
    font-weight: 500;
    &__btn {
      font-weight: 500;
      padding: 3px 10px;
      border-radius: 3px;
      margin-left: 8px;
      background-color: $shop-color-main;
      color: $footer-color-title;
      cursor: pointer;
      font-weight: $fw-700;
    }
  }
  &-middle {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    .header-mobile__menu {
      display: none;
    }
    &__logo {
      width: 70px;
      height: 70px;
      padding: 5px;
      border-radius: 50%;
      border: 1px solid $shop-color-main;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__input {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      input {
        width: 100%;
        padding: 9px 50px 10px 9px;
        background-color: #ffffff;
        border: 1px solid #ececec;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        transition: all 0.15s linear;
        &:focus {
          background: #ffffff;
          outline: none;
          border-color: $shop-color-main;
        }
      }
      .search__btn {
        position: absolute;
        right: 0;
        border: none;
        border-radius: 0 4px 4px 0;
        width: 55px;
        padding: 7px;
        color: #ffffff;
        background-color: $shop-color-main;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i {
          font-size: 1.5rem;
        }
      }
      input:not(:placeholder-shown) ~ .header-search__wrap {
        display: block;
      }
      .header-search__wrap {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        position: absolute;
        top: 65px;
        z-index: 999;
        -webkit-box-shadow: 0px 6px 15px rgb(0 0 0 / 20%);
        box-shadow: 0px 6px 15px rgb(0 0 0 / 20%);
        padding: 10px;
        background-color: #ffffff;
        display: none;
      }
      .search-result {
        border-bottom: 1px dotted #333;
        display: flex;
        padding: 10px;
        &__text {
          width: 92%;
          display: flex;
          flex-direction: column;
          a {
            padding: 5px 0;
            text-decoration: none;
            color: $shop-color-main;
            font-weight: 500;
          }
        }
        &__img {
          width: 8%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    &__action {
      // width: 30%;
      display: flex;
      gap: 30px;
      .header__account {
        // width: 60%;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        .box-account {
          display: flex;
          align-items: center;
          gap: 10px;
          .account__icon {
            // width: 13%;
            img {
              width: 120%;
              height: 120%;
              object-fit: cover;
            }
          }
          .account__text {
            // width: 87%;
            .text-up {
              font-size: 13px;
            }
            .text-down {
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
        .box-login {
          width: 340px;
          position: absolute;
          top: 100%;
          left: auto;
          right: -15px;
          z-index: 990;
          border-radius: 3px;
          background: #fff;
          border: solid 1px #dfe3e8;
          box-shadow: 0 1px 5px 2px rgb(0 0 0 / 10%);
          padding: 20px;
          visibility: hidden;
          opacity: 0;
          transform: scale(0.9);
          transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out,
            visibility 0.25s ease-in-out;
          cursor: default;
          .box-triangle {
            position: absolute;
            border-left: 10px solid #fff;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-top: 10px solid #fff;
            filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
            transform: rotate(45deg);
            top: -7px;
            right: 58px;
          }
          &__heading {
            margin: 0 0 20px;
            padding-bottom: 8px;
            text-align: center;
            border-bottom: 1px solid $shop-color-border;
            &--title {
              font-size: 18px;
              color: $shop-color-title;
              text-transform: uppercase;
              letter-spacing: 0.5px;
              font-weight: 500;
            }
            &--legend {
              margin: 5px 0 0;
              font-size: 14px;
            }
          }
          &__inner {
            .form-input {
              position: relative;
              width: 100%;
              margin-bottom: 12px;
              .form-field {
                display: block;
                padding: 14px 10px 3px;
                border-radius: 2px;
                border: 1px solid #d4d6d8;
                width: 100%;
                line-height: normal;
                height: 42px;
                color: #1e2d7d;
                resize: none;
                font-size: 12px;
                outline: none;
                box-shadow: 0 1px rgb(212 214 216 / 25%) inset;
                transition: border-color 0.2s ease-in-out,
                  box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
              }
              label {
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: 700;
              }
              .form-label {
                position: absolute;
                left: 10px;
                top: 0;
                line-height: 42px;
                font-size: 12px;
                margin-bottom: 0;
                color: #677279;
                transform: scale(1);
                transform-origin: left top;
                transition: transform 0.2s ease-in-out,
                  -webkit-transform 0.2s ease-in-out;
                pointer-events: none;
              }
              .form-field:focus + .form-label {
                transform: translateY(-5px) scale(0.8);
              }
              .box__recaptcha {
                padding: 6px 0 0;
                text-align: left;
                color: #9e9e9e;
                font-size: 13px;
                clear: both;
                a {
                  color: #2962ff;
                  text-decoration: none;
                  outline: none;
                  transition: all 0.3s ease-in-out;
                }
              }
            }
            .button {
              position: relative;
              display: inline-block;
              z-index: 1;
              overflow: hidden;
              color: #fff;
              background-color: $shop-color-hover;
              border: 1px solid $shop-color-button;
              font-size: 13px;
              font-weight: 500;
              text-align: center;
              letter-spacing: 1px;
              outline: none;
              border-radius: 2px;
              text-transform: uppercase;
              transition: border-color 0.5s ease-in-out;
              cursor: pointer;
              &:before {
                content: "";
                display: block;
                background-color: $shop-color-button;
                position: absolute;
                left: -2px;
                top: 0;
                right: -2px;
                bottom: 0;
                z-index: -1;
                transform: scale(1, 1);
                transform-origin: left;
                transition: transform 0.45s ease-in-out;
              }
              &:hover {
                border: 2px solid;
                border-color: $shop-color-hover;
                &::before {
                  transform-origin: right;
                  transform: scale(0, 1);
                }
              }
            }
            .form-submit {
              width: 100%;
              outline: none;
              padding: 0px 28px;
              height: 42px;
              line-height: 42px;
            }
            .box-login__action {
              margin-top: 36px;
              font-size: 12px;
              .link {
                color: $shop-color-main;
                text-decoration: none;
              }
              & > p {
                margin-bottom: 4px;
              }
            }
          }
        }
        &.js-action-show .box-login {
          visibility: visible;
          opacity: 1;
          transform: scale(1);
          transition: opacity 0.4s ease, transform 0.4s ease,
            visibility 0.4s linear;
        }
      }
      .header__cart {
        // width: 40%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .header__cart--text {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          .cart__icon {
            // width: 20%;
            position: relative;
            img {
              width: 120%;
              height: 120%;
              object-fit: cover;
            }
          }
          .cart__number {
            width: 15px;
            height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: -10px;
            font-size: 10px;
            color: #ffffff;
            background: $shop-color-main;
            border-radius: 50%;
          }
          .cart__text {
            // width: 80%;
            font-size: 14px;
            font-weight: 500;
          }
        }
        .cart-dropdown {
          width: 420px;
          position: absolute;
          top: 100%;
          left: auto;
          right: -15px;
          z-index: 990;
          border-radius: 3px;
          background: #fff;
          border: solid 1px #dfe3e8;
          box-shadow: 0 1px 5px 2px rgb(0 0 0 / 10%);
          padding: 20px;
          visibility: hidden;
          opacity: 0;
          transform: scale(0.9);
          transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out,
            visibility 0.25s ease-in-out;
          cursor: default;
          .box-triangle {
            position: absolute;
            border-left: 10px solid #fff;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-top: 10px solid #fff;
            filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
            transform: rotate(45deg);
            top: -7px;
            right: 58px;
          }
          &__content {
            width: 100%;
            height: 100%;
            overflow: hidden;
            .box-title {
              font-size: 18px;
              color: $shop-color-title;
              text-transform: uppercase;
              letter-spacing: 0.5px;
              margin: 0 0 20px;
              font-weight: 500;
              padding-bottom: 8px;
              text-align: center;
              border-bottom: 1px solid $shop-color-border;
            }
            .cart-view {
              &-scroll {
                overflow-y: scroll;
                max-height: 320px;
                overscroll-behavior: none;
                margin-right: -20px;
                padding-right: 20px;
                .mini-cart__item {
                  td {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    position: relative;
                  }
                  &:last-child {
                    border-bottom: 0;
                  }
                  position: relative;
                  border-bottom: 1px dotted $shop-color-border;
                  .mini-cart__left {
                    width: 90px;
                    padding-right: 15px;
                    max-width: none;
                    text-align: center;
                    img {
                      display: block;
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .mini-cart__right {
                    padding-left: 5px;
                    .mini-cart__title {
                      margin: 0 0 10px;
                      a {
                        display: block;
                        font-size: 12px;
                        font-weight: 600;
                        padding-right: 28px;
                        text-transform: uppercase;
                        color: $shop-color-text;
                        text-decoration: none;
                      }
                    }
                    .mini-cart__quantity {
                      .mnc-value {
                        float: left;
                        width: auto;
                        background: #f7f7f7;
                        text-align: center;
                        padding: 6px 12px;
                        font-size: 13px;
                        line-height: 1;
                        margin-right: 12px;
                        color: #252a2b;
                      }
                    }
                    .mini-cart__price {
                      .mnc-price {
                        display: block;
                        text-align: center;
                        float: left;
                        line-height: 26px;
                        font-weight: 500;
                        opacity: 0.7;
                        font-size: 14px;
                      }
                    }
                    .mini-cart__remove {
                      position: absolute;
                      right: 0px;
                      top: 10px;
                      width: 20px;
                      height: 20px;
                      line-height: 20px;
                      text-align: center;
                      a {
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        display: block;
                        color: $shop-color-button;
                      }
                    }
                  }
                }
                .mini-cart__empty {
                  td {
                    padding-top: 0;
                    padding-bottom: 20px;
                    position: relative;
                    text-align: center;
                    color: #677279;
                    font-size: 14px;
                  }
                  .svgico-mini-cart {
                    padding: 0px 0 5px;
                    svg {
                      stroke: $shop-color-main;
                      width: 50px;
                      height: 50px;
                      margin: auto;
                    }
                  }
                }
              }
              &-line {
                clear: both;
                width: 100%;
                border-top: 1px solid $shop-color-border;
                margin: 0 0 5px;
              }
              &-total {
                .mnc-total {
                  font-weight: 500;
                  color: #252a2b;
                  padding: 10px 0;
                  font-size: 14px;
                }
                #total-view-cart {
                  font-weight: 600;
                  font-size: 16px;
                  color: red;
                }
                .text-left {
                  text-align: left;
                }
                .text-right {
                  text-align: right;
                }
                .mini-cart__button {
                  td:first-child {
                    padding-right: 7px;
                  }
                  .button {
                    position: relative;
                    display: inline-block;
                    z-index: 1;
                    overflow: hidden;
                    color: #fff;
                    background-color: $shop-color-hover;
                    border: 1px solid $shop-color-button;
                    font-size: 13px;
                    font-weight: 500;
                    text-align: center;
                    letter-spacing: 1px;
                    outline: none;
                    border-radius: 2px;
                    text-transform: uppercase;
                    transition: border-color 0.5s ease-in-out,
                      color 0.45s ease-in-out;
                    cursor: pointer;
                    &:before {
                      content: "";
                      display: block;
                      background-color: $shop-color-button;
                      position: absolute;
                      left: -2px;
                      top: 0;
                      right: -2px;
                      bottom: 0;
                      z-index: -1;
                      transform: scale(1, 1);
                      transform-origin: left;
                      transition: transform 0.45s ease-in-out;
                    }
                    &:hover {
                      border: 1px solid;
                      border-color: $shop-color-hover;
                      &::before {
                        transform-origin: right;
                        transform: scale(0, 1);
                      }
                    }
                  }
                  .linktocart {
                    margin: 5px 0 10px;
                    font-size: 12px;
                    padding: 10px 10px;
                    width: 100%;
                    text-decoration: none;
                  }
                  .btnred {
                    background-color: #ffffff;
                    border-color: #ff0000;
                    &::before {
                      background: #ff0000;
                    }
                    &:hover {
                      color: #ff0000;
                      border-color: #ff0000;
                    }
                  }
                  .linktocheckout {
                    margin: 5px 0 10px;
                    font-size: 12px;
                    padding: 10px 10px;
                    width: 100%;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
        &.js-action-show .cart-dropdown {
          visibility: visible;
          opacity: 1;
          transform: scale(1);
          transition: opacity 0.4s ease, transform 0.4s ease,
            visibility 0.4s linear;
        }
      }
    }
  }
  &-fixed {
    position: relative;
  }
  &-fixed &-middle {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 13%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 1px 5px 2px rgb(0 0 0 / 10%);
  }
  &-fixed &-nav {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fff;
  }
  &-nav {
    padding: 5px 0;
    & > ul {
      list-style: none;
      display: flex;
      align-items: center;
      padding-left: 0;
      gap: 30px;
      & > li {
        & > a {
          text-decoration: none;
          color: $shop-color-text;
          font-size: 15px;
          padding: 15px 4px;
          letter-spacing: 0.75px;
          font-weight: 500;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            transform: scaleX(0);
            transform-origin: right;
            width: 100%;
            height: 2px;
            background: $shop-color-text;
            transition: transform 0.5s ease;
          }
          &:hover {
            &::before {
              transform: scaleX(1);
              transform-origin: left;
            }
          }
        }
      }
    }
    &__fixed {
      display: flex;
      gap: 50px;
      position: absolute;
      top: 8px;
      background-color: #fff;
      &__logo {
        display: flex;
      }
      & > ul {
        flex: 1 1 auto;
        gap: 15px;
      }
      .header-nav__logo {
        display: block;
      }
    }
    &__logo {
      width: 60px;
      height: 60px;
      padding: 5px;
      border-radius: 50%;
      border: 1px solid #ed1c24;
      display: none;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.clearfix {
  clear: both;
}
.search-mobile {
  display: none;
}
.has-submenu {
  position: relative;
  &:hover > .submenu {
    pointer-events: auto;
    visibility: visible;
    top: 100%;
    opacity: 1;
  }
}
.submenu {
  position: absolute;
  top: 150%;
  background: #fff;
  min-width: 185px;
  max-width: 180%;
  position: absolute;
  z-index: 99;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 0px 6px 15px rgb(0 0 0 / 20%);
  box-shadow: 0px 6px 15px rgb(0 0 0 / 20%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  list-style: none;
  & > li > a {
    text-decoration: none;
    padding: 9px 18px;
    text-align: left;
    display: block;
    font-size: 14px;
    color: $shop-color-text;
    opacity: 0.85;
    border-bottom: 1px solid $shop-color-border;
  }
}
.rotate-add {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}
.rotate-remove {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}
@media screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
  .header-middle {
    .header-mobile__menu {
      display: flex;
      justify-content: center;
      align-items: center;
      .mobile-meu__icon {
        i {
          font-size: 2.5rem;
        }
      }
      // .nav-input:checked ~ .mobile-menu {
      //   display: block;
      // }
      .mobile-menu {
        position: fixed;
        top: 135px;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #ffffff;
        box-shadow: 0 1px 5px 2px rgb(0 0 0 / 10%);
        border: solid 1px #dfe3e8;
        border-radius: 3px;
        z-index: 999;
        display: none;
        ul {
          list-style: none;
          li {
            a {
              text-decoration: none;
              display: block;
              padding: 15px 15px 15px 0;
              margin-left: 15px;
              text-transform: uppercase;
              border-bottom: 1px solid #eeeeee;
              font-size: 14px;
              font-weight: 700;
              color: $shop-color-text;
            }
          }
        }
      }
    }
    &__logo {
      width: 65px;
      height: 65px;
    }
    .header-middle__input {
      display: none;
    }
    .header-middle__action {
      gap: 10px;
      .action__account {
        .account__text {
          display: none;
        }
      }
      .action__cart {
        .cart__text {
          display: none;
        }
      }
    }
  }
  .search-mobile {
    display: block;
    width: 100%;
    .search__btn {
      top: 0;
    }
    .header-search__wrap {
      top: 50px;
    }
  }
  .header-nav {
    display: none;
  }
}
