* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.header-topbar {
  padding: 14px 0;
  text-align: center;
  background-color: #f5f5f5;
  color: #666666;
  font-size: 13px;
  font-weight: 500;
}
.header-topbar__btn {
  font-weight: 500;
  padding: 3px 10px;
  border-radius: 3px;
  margin-left: 8px;
  background-color: #ed1c24;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}
.header-middle {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
}
.header-middle .header-mobile__menu {
  display: none;
}
.header-middle__logo {
  width: 70px;
  height: 70px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #ed1c24;
}
.header-middle__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-middle__input {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-middle__input input {
  width: 100%;
  padding: 9px 50px 10px 9px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.15s linear;
}
.header-middle__input input:focus {
  background: #ffffff;
  outline: none;
  border-color: #ed1c24;
}
.header-middle__input .search__btn {
  position: absolute;
  right: 0;
  border: none;
  border-radius: 0 4px 4px 0;
  width: 55px;
  padding: 7px;
  color: #ffffff;
  background-color: #ed1c24;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-middle__input .search__btn i {
  font-size: 1.5rem;
}
.header-middle__input input:not(:placeholder-shown) ~ .header-search__wrap {
  display: block;
}
.header-middle__input .header-search__wrap {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 65px;
  z-index: 999;
  -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #ffffff;
  display: none;
}
.header-middle__input .search-result {
  border-bottom: 1px dotted #333;
  display: flex;
  padding: 10px;
}
.header-middle__input .search-result__text {
  width: 92%;
  display: flex;
  flex-direction: column;
}
.header-middle__input .search-result__text a {
  padding: 5px 0;
  text-decoration: none;
  color: #ed1c24;
  font-weight: 500;
}
.header-middle__input .search-result__img {
  width: 8%;
}
.header-middle__input .search-result__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-middle__action {
  display: flex;
  gap: 30px;
}
.header-middle__action .action__account {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.header-middle__action .action__account .account__icon img {
  width: 120%;
  height: 120%;
  object-fit: cover;
}
.header-middle__action .action__account .account__text .text-up {
  font-size: 13px;
}
.header-middle__action .action__account .account__text .text-down {
  font-size: 14px;
  font-weight: 500;
}
.header-middle__action .action__cart {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-middle__action .action__cart .cart__icon {
  position: relative;
}
.header-middle__action .action__cart .cart__icon img {
  width: 120%;
  height: 120%;
  object-fit: cover;
}
.header-middle__action .action__cart .cart__number {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -10px;
  font-size: 10px;
  color: #ffffff;
  background: #ed1c24;
  border-radius: 50%;
}
.header-middle__action .action__cart .cart__text {
  font-size: 14px;
  font-weight: 500;
}
.header-nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  gap: 30px;
}
.header-nav > ul > li > a {
  text-decoration: none;
  color: #252a2b;
  font-size: 15px;
  padding: 15px 4px;
  letter-spacing: 0.75px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav > ul > li > a:before {
  content: "";
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  width: 100%;
  height: 2px;
  background: #252a2b;
  transition: transform 0.5s ease;
}
.header-nav > ul > li > a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.search-mobile {
  display: none;
}

.has-submenu {
  position: relative;
}
.has-submenu:hover > .submenu {
  pointer-events: auto;
  visibility: visible;
  top: 100%;
  opacity: 1;
}

.submenu {
  position: absolute;
  top: 150%;
  background: #fff;
  min-width: 185px;
  max-width: 180%;
  position: absolute;
  z-index: 99;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  list-style: none;
}
.submenu > li > a {
  text-decoration: none;
  padding: 9px 18px;
  text-align: left;
  display: block;
  font-size: 14px;
  color: #252a2b;
  opacity: 0.85;
  border-bottom: 1px solid #e7e7e7;
}

.rotate-add {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.rotate-remove {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

@media screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
  .header-middle .header-mobile__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-middle .header-mobile__menu .mobile-meu__icon i {
    font-size: 2.5rem;
  }
  .header-middle .header-mobile__menu .mobile-menu {
    position: fixed;
    top: 135px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    border: solid 1px #dfe3e8;
    border-radius: 3px;
    z-index: 999;
    display: none;
  }
  .header-middle .header-mobile__menu .mobile-menu ul {
    list-style: none;
  }
  .header-middle .header-mobile__menu .mobile-menu ul li a {
    text-decoration: none;
    display: block;
    padding: 15px 15px 15px 0;
    margin-left: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #eeeeee;
    font-size: 14px;
    font-weight: 700;
    color: #252a2b;
  }
  .header-middle__logo {
    width: 65px;
    height: 65px;
  }
  .header-middle .header-middle__input {
    display: none;
  }
  .header-middle .header-middle__action {
    gap: 10px;
  }
  .header-middle .header-middle__action .action__account .account__text {
    display: none;
  }
  .header-middle .header-middle__action .action__cart .cart__text {
    display: none;
  }
  .search-mobile {
    display: block;
    width: 100%;
  }
  .search-mobile .search__btn {
    top: 0;
  }
  .search-mobile .header-search__wrap {
    top: 50px;
  }
  .header-nav {
    display: none;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.collection {
  display: flex;
  gap: 30px;
}

.collection-left,
.collection-right {
  width: 50%;
  position: relative;
}

.collection-left__img a {
  display: block;
}
.collection-left__img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection-left__text {
  width: 45%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.collection-left__text .tagline {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.collection-left__text .htitle {
  margin-bottom: 10px;
}

.collection-right {
  background-image: url("../img/section-icon-2.jpg");
}

/*# sourceMappingURL=index.css.map */
