.header {
  &-topbar {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: $top-bar-bg;
    color: $top-bar-color;
    font-size: 13px;
    &__btn {
      padding: 3px;
      background-color: $shop-color-main;
      color: #fff;
    }
  }
}
