.header {
  &-topbar {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: $top-bar-bg;
    color: $top-bar-color;
    font-size: 13px;
    &__btn {
      font-weight: 500;
      padding: 3px 10px;
      border-radius: 3px;
      margin-left: 8px;
      background-color: $shop-color-main;
      color: $footer-color-title;
      cursor: pointer;
      font-weight: $fw-700;
    }
  }
  &-middle {
    padding: 18px 0;
    justify-content: space-between;
    &__logo {
      width: 70px;
      height: 70px;
      padding: 5px;
      border-radius: 50%;
      border: 1px solid $shop-color-main;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__input {
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        padding: 9px 50px 10px 9px;
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #ececec;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        transition: all 0.15s linear;
        &:focus {
          background: #ffffff;
          outline: none;
          border-color: $shop-color-main;
        }
      }
    }
  }
}
