.swiper {
  width: 100%;
  height: 100%;
  &-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}
.collection {
  display: flex;
  gap: 30px;
}
.collection-left,
.collection-right {
  width: 50%;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 100%;
    transform: translate(-50%, 0);
    background-color: hsla(0, 0%, 100%, 0.8);
    transition: width 0.35s linear, opacity 0.35s linear;
    opacity: 0;
    z-index: 2;
  }
  &:hover {
    &::before {
      width: 0;
      opacity: 1;
      pointer-events: none;
    }
    img {
      scale: 1.1;
    }
  }
}
.collection-left,
.collection-right {
  &__img a {
    display: block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 1s ease;
    }
  }
  &__text {
    width: 45%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .tagline {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 500;
    }
    .htitle {
      font-size: 22px;
      margin-bottom: 10px;
    }
    .txtdesc {
      margin-bottom: 10px;
      font-size: 14px;
    }
    .collection-btn {
      font-size: 12px;
      border-radius: 4px;
      font-weight: 500;
      background-color: #333;
      border: none;
      outline: none;
      overflow: hidden;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: scaleX(0);
        transform-origin: right;
        background-color: $shop-color-main;
        transition: transform 0.25s linear;
      }
      &:hover:before {
        transform: scaleX(1);
        transform-origin: left;
      }
      a {
        position: relative;
        display: block;
        padding: 8px 20px 8px 25px;
        text-decoration: none;
        font-size: 12px;
        color: #ffff;
        text-transform: uppercase;
      }
    }
  }
}
.orders {
  &-heading {
    text-align: center;
    margin-bottom: 35px;
    .htitle {
      font-size: 28px;
      margin: 0 0 10px;
      font-weight: 700;
      & > a {
        text-decoration: none;
        color: inherit;
        transition: all 0.25s linear;
        &:hover {
          color: $shop-color-hover;
          text-decoration: none;
          outline: none;
        }
      }
    }
    .subTitle {
      font-size: 14px;
    }
  }
  &-content {
    display: flex;
    &__banner {
      width: 50%;
      padding: 0 15px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        width: 100%;
        transform: translate(-50%, 0);
        background-color: hsla(0, 0%, 100%, 0.7);
        transition: width 0.25s linear, opacity 0.25s linear;
        opacity: 0;
      }
      &:hover::before {
        width: 0;
        opacity: 1;
        pointer-events: none;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__products {
      width: 50%;
      padding: 20px 15px;
      display: flex;
      gap: 15px;
      .product-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .row-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          .item-img {
            height: 240px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .item-detail {
            padding: 10px 8px 10px;
            h3 {
              font-size: 14px;
              margin-bottom: 8px;
              a {
                text-decoration: none;
                color: #333;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
            }
            &__price {
              font-weight: 600;
              font-size: 14px;
              color: #333;
            }
          }
          .item-action {
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
  }
}
