:root {
  --shop-color-main: #ed1c24;
  --shop-color-text: #252a2b;
  --shop-color-title: #000000;
  --shop-color-hover: #ed1c24;
  --shop-color-button: #000000;
  --shop-color-border: #e7e7e7;
  --footer-color-title: #ffffff;
  --footer-color-text: #999999;
  --footer-color-bg: #1a1a1a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
  &-middle {
    width: ;
  }
}
